<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="../styles/baicaijia.css">
  <title>白菜价</title>
</head>

<body>
  <div class="layout">
    <!-- 顶部栏 -->
    <div class="m_header">
      <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-back mui-pull-left" href="../index.html"></a>
        <a id="offCanvasBtn" href="#offCanvasSide" class="mui-icon  mui-icon-download mui-pull-right"></a>
        <h1 class="mui-title">白菜价-淘宝内部劵</h1>
      </header>
    </div>
    <div class="m_content">

      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <!-- 导航滑动栏 -->
          <div class="left">
            <!-- 动态渲染 -->
            <ul class="list">

            </ul>
          </div>
          <!-- 商品信息 -->
          <div class="right">
            <div class="rightList">
              <!-- <ul>
                <li class="ui-border-tb ">
           
                  <div class="pic"><i></i><img
                      src="https://gd2.alicdn.com/imgextra/i4/2559357181/TB2eYawX43X61Bjy0FlXXaGtVXa_!!2559357181.jpg_400x400.jpg">
                  </div>
                  <div class="inf">
                    <div class="i">
                      <div class="t"><span class="b">[包邮]</span>藏源鹿品牌原创设计【羊毛针织】中长大衣</div>
                      <div class="pr"><i>券后</i><em>¥</em><span>106.0</span><del>¥206</del>
                      </div>
                    </div>
                    <div class="o">
                      <div class=" clearfix">
                        <div class="bar clearfix"><a
                            href="http://shop.m.taobao.com/shop/coupon.htm?seller_id=2213057944&amp;activity_id=8cfb336284b5436b9f2c7c9343fa85f1"
                            class="goquan" target="_blank"></a><em></em><span>75%</span><b>已领75117张</b></div>
                      </div>
                      <div class="b clearfix">
                        <div class="q"><a
                            href="http://shop.m.taobao.com/shop/coupon.htm?seller_id=2213057944&amp;activity_id=8cfb336284b5436b9f2c7c9343fa85f1"
                            target="_blank">点此领10元优惠券</a></div>
                        <div class="g"><a biz-itemid="539735809040" isconvert="1"
                            href="https://item.taobao.com/item.htm?id=539735809040" target="_blank">下单链接</a></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="mm_content">
        <div class="picture">
          <div class="left"><img
              src="http://img.alicdn.com/imgextra/i4/TB1EXYSMpXXXXc2XpXXXXXXXXXX_!!0-item_pic.jpg_290x290.jpg" alt="">
          </div>
          <div class="right">
            <div>{包邮}双十一红包 今日开启</div>
            <div>
              <div class=""><i>券后</i><em>¥</em>7.9<del>¥17.9</del>
              </div>
            </div>
            <div><span>1%</span> 已领劵82张</div>
            <div>
              <div><a href="#">点此领5元优惠券</a></div>
              <div>下单连接</div>
            </div>

          </div>
        </div>
      </div> -->
    </div>
    <!-- 底部栏 -->
    <footer id="footer">
      <div class="row">
        <a href="#">登录</a>
        <a href="#">注册</a>
        <a href="#header"><img src="http://www.zuyushop.com/wap/images/top.jpg" alt="">返回顶部</a>
      </div>
      <p> <a href="#">手机APP下载</a> <a href="#">慢慢买手机版</a> -- 掌上比价平台</p>
      <p>m.manmanbuy.com </p>
    </footer>
  </div>

  <!-- 商品滚动导航栏模板 -->
  <script type="text/template" id="listTemp">
    {{each result value index}} 
    <li class="{{index==0?'active':''}}">
      <a href="javascript:;">{{value.title}}</a
        ></li>
    {{/each}}
  </script>

  <!-- 商品模板 -->
  <script type="text/html" id="rightTemp">
          <ul>
              {{each result v i}}
                <li class="ui-border-tb ">
                  <div class="pic"><i></i>{{@v.productImg}}
                  </div>
                  <div class="inf">
                    <div class="i">
                      <div class="t">{{@v.productName}}</div>
                      <div class="pr">{{@v.productPrice}}
                      </div>
                    </div>
                    <div class="o">
                      <div class=" clearfix">
                       {{@v.productCouponRemain}}
                      </div>
                      <div class="b clearfix">
                        <div class="q"><a
                            href="http://shop.m.taobao.com/shop/coupon.htm?seller_id=2213057944&amp;activity_id=8cfb336284b5436b9f2c7c9343fa85f1"
                            target="_blank">点此领10元优惠券</a></div>
                        <div class="g"><a biz-itemid="539735809040" isconvert="1"
                            href="https://item.taobao.com/item.htm?id=539735809040" target="_blank">下单链接</a></div>
                      </div>
                    </div>
                  </div>
                </li>
              {{/each}}
          </ul>
      </script>
  <!-- <script type="text/template" id="">
        {{each result value index}} 
       <li class="ui-border-tb ">
                
                  <div class="pic"><i></i><img
                      src="https://gd2.alicdn.com/imgextra/i4/2559357181/TB2eYawX43X61Bjy0FlXXaGtVXa_!!2559357181.jpg_400x400.jpg">
                  </div>
                  <div class="inf">
                    <div class="i">
                      <div class="t">{{value.}}</div>
                      <div class="pr">{{value.productPrice}}
                      </div>
                    </div>
                    <div class="o">
                      <div class=" clearfix">
                        <div class="bar clearfix"><a
                            href="http://shop.m.taobao.com/shop/coupon.htm?seller_id=2213057944&amp;activity_id=8cfb336284b5436b9f2c7c9343fa85f1"
                            class="goquan" target="_blank"></a><em></em><span>75%</span><b>{{value.productCouponRemain}}</b></div>
                      </div>
                      <div class="b clearfix">
                        <div class="q"><a
                            href="http://shop.m.taobao.com/shop/coupon.htm?seller_id=2213057944&amp;activity_id=8cfb336284b5436b9f2c7c9343fa85f1"
                            target="_blank">{{value.productCoupon}}</a></div>
                        <div class="g"><a biz-itemid="539735809040" isconvert="1"
                            href="https://item.taobao.com/item.htm?id=539735809040" target="_blank">{{value.productHref}}</a></div>
                      </div>
                    </div>
                  </div>
                </li>
        {{/each}}
     
      </script> -->
  <script src="../lib/mui/js/mui.min.js"></script>
  <script src="../lib/mui/js/mui.picker.js"></script>
  <script src="../lib/jquery/jquery.js"></script>
  <script src="../lib/arttemplate/template-web.js"></script>
  <script src="../js/baicaijia.js"></script>
</body>

</html>