@import './reset.less';

.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100%;
  height: 50px;
  background-color: #ff841d;
  padding: 0px 10px;

  >.logo {
    img {
      height: 25px;
      margin-top: 12px;
    }
  }

  >.app {
    >img {
      height: 34px;
      width: 34px;
      margin-top: 8px;
    }
  }
}

.search {
  background-color: #fff;

  >form {
    padding: 10px;
    display: flex;

    >input:nth-of-type(1) {
      background-color: #eee;
      flex: 8;
      color: #ccc;
      text-align: left;
      font-size: 13px;
      border-radius: 17px;
      margin-bottom: 0px;
      margin-right: 10px;
    }

    >input:nth-of-type(2) {
      width: 63px;
      height: 34px;
      background-color: #ff841d;
      border-radius: 17px;
      border: 0;
    }
  }
}
.nav{
  height: 30px;
  padding: 0 10px;
  background-color: #eee;
  span{
    font-size:13px;
    line-height: 30px;
  }
  span:nth-of-type(1){
      >a {
        color:#333;
      }
  }
  >a{
    height: 28px;
    width: 50px;
    border:1px solid #ccc;
    border-radius:5px;
    text-align: center;
    line-height: 28px;
    color:#000;
  }
}

#footer {
  background-color: #fff;
  width: 100%;
  // padding-top: 20px;
  // padding-bottom: 150px;

  >.row {
    height: 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;

    >a {
      height: 30px;
      color: #000;
      font-size: 15px;
      width: 33.3%;
      line-height: 30px;
      text-align: center;

      >img {
        width: 15px;
        height: 15px;
        display: inline-block;
      }
    }

    >a:nth-of-type(-n+2) {
      border-right: 1px solid #ccc;
    }
  }

  >p {
    text-align: center;
    font-size: 12px;
    color: #000;

    >a {
      color: red;
    }
  }

}

.mmb_content {
  flex:1;
  display:flex;
  flex-direction: column;
  >.productList {
    

    flex:1;
    >.product {
      display:flex;
      flex-direction: row;
      border-bottom:1px solid #ccc;
      padding:10px;
    }

    .left{
      flex:2;
      >a{
        display:block;
        width: 100%;
        height: 100%;
         text-align: center;
        img {
          display: inline-block;
      }
       
       }
     
     

    }
    .right {
       flex:6;
       display:flex;
       flex-direction: column;
       justify-content: space-around;
    >a {
      font-size: 15px;
      color:#333;

    }

    >.price {
      color: red;
      margin:10px 0px 20px;
    }
    span {
      font-size: 12px;
    }

    }
    
  }
  // fenye
  >.prodocut-option {
  
    position: relative;
    color:#888;
    // height: 50px;
    border-top:1px solid #ccc;
    margin:0px;
    padding:10px 15px ;
    .dropdown {
      height: 32px;
      width: 78px;
      text-align: center;
      line-height: 32px;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        border: 1px solid #ccc;
        border-radius:5px;
    >a {
      color:#333;
    }
        > a:hover,a:focus {
          text-decoration: none;
          color:#333;
        }
    }
    
  }



}